.password_information_title {
  color: var(--Gray-04, #8e8e8e);
  text-align: right;
  font-size: var(--Font-Size-2XS, 8px);
  font-style: normal;
  font-weight: 300;
  line-height: var(--Font-Size-2XS, 8px);
  margin-bottom: 8px;
}

.password_information_container {
  margin-bottom: 24px;
}

.password_information_conditions {
  color: var(--Gray-05, #747474);
  text-align: right;
  font-size: var(--Font-Size-XS, 10px);
  font-style: normal;
  font-weight: 300;
  line-height: var(--Font-Size-XS, 10px);
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.password_status_image {
  margin-left: 4px;
  transition: all 0.2s linear;
}
